:root {
  --bleu-clair: #00C1D0;
  --bleu-fonce: #0597A3;
}

/* Texte global */
body {
  font-size: 1.3rem;
  line-height: 1.8;
}

/* Navbar */
.navbar {
  background-color: var(--bleu-clair) !important;
}
.navbar .nav-link {
  font-size: 1.3rem; /* menu */
  font-weight: 600;
}

/* Titres */
h1, .display-4 {
  font-size: 3.5rem; /* hero principal */
}
h2 {
  font-size: 2.5rem; /* titres sections */
}
h5, .card-title {
  font-size: 1.7rem; /* titres des cartes */
}

h6 {
  font-size: 1.4rem; 
  font-weight: 600;
}

.navbar-brand img {
  height: 80px;   /* Taille du logo */
  width: auto;   
}


/* Paragraphes et listes */
p, li {
  font-size: 1.3rem;
}

/* Boutons */
.btn {
  font-size: 1.3rem;
  padding: 0.7rem 1.4rem;
}



/* Galerie */
#galerie img {
  border-radius: 20px;
}

/* Footer */
footer {
  background-color: var(--bleu-fonce);
  color: white;
  font-size: 1.2rem;
}
footer h5 {
  font-size: 1.6rem;
}

/*icone nos services aggrandir*/
#services .fs-1 {
  font-size: 4rem !important;
}




